rules 
tools
rocketchip
exp_vs_obs/seq_data/paired_narrow/
exp_vs_obs/seq_data/paired_broad/
exp_vs_obs/seq_data/single_narrow/
exp_vs_obs/seq_data/single_broad/
exp_vs_obs/seq_data/archive/
exp_vs_obs/seq_data/__pycache__/
exp_vs_obs/project_files/
exp_vs_obs/snakefiles/
exp_vs_obs/.ipynb_checkpoints/
.snakemake/
*/.snakemake/
run_times/yeast/yeast_SRR17329288
run_times/yeast/00_logs/
run_times/yeast/01_raw_data/
run_times/yeast/02_fastqc_analysis/
run_times/yeast/paired/
run_times/yeast/yeast_SRR17329289
run_times/worm/00_logs/
run_times/worm/01_raw_data/
run_times/worm/02_fastqc_analysis/
run_times/worm/ce11/
run_times/worm/paired/
run_times/worm/worm_SRR13125168
exp_vs_obs/seq_data/seqdata/
