rules 
tools
rocketchip
exp_vs_obs/seq_data/paired_narrow/
exp_vs_obs/seq_data/paired_broad/
exp_vs_obs/seq_data/single_narrow/
exp_vs_obs/seq_data/single_broad/
exp_vs_obs/project_files/
exp_vs_obs/snakefiles/
