rules 
tools
rocketchip
.snakemake/
*/.snakemake/
exp_vs_obs/seq_data/paired_narrow/
exp_vs_obs/seq_data/paired_broad/
exp_vs_obs/seq_data/single_narrow/
exp_vs_obs/seq_data/single_broad/
exp_vs_obs/seq_data/archive/
exp_vs_obs/seq_data/__pycache__/
exp_vs_obs/project_files/
exp_vs_obs/snakefiles/
exp_vs_obs/.ipynb_checkpoints/
exp_vs_obs/seq_data/seqdata/
exp_vs_obs/seq_data/seqdata.tar.gz
run_times/yeast/00_logs/
run_times/yeast/01_raw_data/
run_times/yeast/02_fastqc_analysis/
run_times/yeast/03_sam_files/
run_times/yeast/04_bam_files/
run_times/yeast/05_bigwig_files/
run_times/yeast/06_macs3_peaks/
run_times/yeast/sacCer3/
run_times/yeast/paired/
run_times/worm/00_logs/
run_times/worm/01_raw_data/
run_times/worm/02_fastqc_analysis/
run_times/worm/03_sam_files/
run_times/worm/04_bam_files/
run_times/worm/05_bigwig_files/
run_times/worm/06_macs3_peaks/
run_times/worm/ce11/
run_times/worm/paired/
run_times/fruitfly/00_logs/
run_times/fruitfly/paired/
run_times/human/00_logs/
run_times/human/paired/
run_times/human/01_raw_data/
run_times/human/02_fastqc_analysis/
run_times/human/03_sam_files/
run_times/human/04_bam_files/
run_times/human/05_bigwig_files/
run_times/human/06_macs3_peaks/
run_times/human/hg19/
run_times/mouse/00_logs/
run_times/mouse/paired/
run_times/mouse/01_raw_data/
run_times/mouse/02_fastqc_analysis/
run_times/mouse/03_sam_files/
run_times/mouse/mm10/
run_times/rat/00_logs/
run_times/rat/paired/
run_times/zebrafish/00_logs/
run_times/zebrafish/paired/
replicability/0*
replicability/mm9/
replicability/replicability
replicability/single/
